<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="material-components-web/dist/material-components-web.css">
    <script src="material-components-web/dist/material-components-web.js"></script>
    <script src="profileWebsite/slider.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="profileWebsite/profileRegistration.js"></script>


    <link rel="stylesheet" type="text/css" href="profileWebsite/profstyle.css"/>

    <title>Insert title here</title>
</head>
<body>
<div class="container">


    <div class="form">
        <h2 class="mdc-typography mdc-typography--headline1 title"
            style="font-size: 3rem;">Stwórz nowy profil</h2>
        <hr>
        <span id="error-label"></span>
        <div class="mdc-typography mdc-text-field"
             data-mdc-auto-init="MDCTextField" id="name">
            <input type="text" class="mdc-text-field__input" id="name-input">
            <label for="name-input" class="mdc-floating-label">Imie</label>
        </div>


        <div id="input-chip-icon-clones" style="display: none">
            <i
                    class="input-leading-icon material-icons mdc-chip__icon mdc-chip__icon--leading">#</i>
            <i
                    class="input-trailing-icon material-icons mdc-chip__icon mdc-chip__icon--trailing"
                    tabindex="0" role="button">x</i>
        </div>
        <h2 class="mdc-typography mdc-typography--headline4 keywords-title">Słowa kluczowe produktów</h2>
        <div style="margin: 3px 30px;">
            <input id="input-chip-set-input" placeholder="Chip text">
            <button id="input-chip-set-button"
                    class="mdc-button mdc-button--dense">Dodaj
            </button>
        </div>
        <div class="keywords">
            <div id="input-chip-set" class="mdc-chip-set mdc-chip-set--input">
            </div>
        </div>


        <div class="sliders" id="cat-chooser">

            <div class="slider-group">
                <input type="text" name="news" class="slider-label" disabled>
                <span class="slider-category">Rozrywka</span>
                <input type="range" min="0" max="100" value="20" class="slider" name="Fun">
            </div>

            <div class="slider-group">
                <input type="text" name="news" class="slider-label" disabled>
                <input type="range" min="0" max="100" value="20" class="slider" name="Sport">
                <span class="slider-category">Sport</span>
            </div>

            <div class="slider-group">
                <input type="text" name="news" class="slider-label" disabled>
                <input type="range" min="0" max="100" value="20" class="slider" name="Local">
                <span class="slider-category">Lokalne</span>
            </div>

            <div class="slider-group">
                <input type="text" name="news" class="slider-label" disabled>
                <input type="range" min="0" max="100" value="20" class="slider" name="Tech">
                <span class="slider-category">Technologia</span>
            </div>

            <div class="slider-group">
                <input type="text" name="news" class="slider-label" disabled>
                <input type="range" min="0" max="100" value="20" class="slider" name="Pol">
                <span class="slider-category">Polska</span>
            </div>

            <div class="slider-group">
                <input type="text" name="news" class="slider-label" disabled>
                <input type="range" min="0" max="100" value="20" class="slider" name="Economy">
                <span class="slider-category">Gospodarka</span>
            </div>

            <div class="slider-group">
                <input type="text" name="news" class="slider-label" disabled>
                <input type="range" min="0" max="100" value="20" class="slider" name="All">
                <span class="slider-category">Główne</span>
            </div>

        </div>


        <button id="submit" class="mdc-button mdc-button--dense">Wyślij</button>
    </div>

</div>

<script>
		mdc.autoInit();

		var inputChipSet = document.getElementById('input-chip-set');
		var chipSets = document
				.querySelectorAll('.mdc-chip-set:not(#input-chip-set)');
		var input = document.getElementById('input-chip-set-input');
		var inputButton = document.getElementById('input-chip-set-button');

		var inputChipSetComponent = mdc.chips.MDCChipSet.attachTo(inputChipSet);

		function addChip(evt) {
			if ((evt.type === 'click' || evt.key === 'Enter' || evt.keyCode === 13)
					&& input.value !== '') {
				var leadingIcon = document.querySelector('.input-leading-icon')
						.cloneNode(true);
				var trailingIcon = document.querySelector(
						'.input-trailing-icon').cloneNode(true);
				inputChipSetComponent.addChip(input.value, leadingIcon,
						trailingIcon);
				input.value = '';
			}
		};
		inputButton.addEventListener('click', addChip);
		input.addEventListener('keydown', addChip);
		
	
		function getKeywords(){
			return inputChipSetComponent.chips.map(el=>el.root_.innerText).map(el=> el.slice(2,el.length-3));
		}
		
		
		

</script>
</body>
</html>