html {
    font-size: calc(100vw / 120);
}

body {
    margin: 0;
}

:root {
    --primary-color: #00838f;
    --primary-color-dark: #005662;
    --primary-color-light: #00838f;
    --secondary-color: #007770;
    --secondary-color-dark: #005b4f;
    --secondary-color-light: #4ebaaa;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 15% 75% 10%;
    grid-template-areas: "header header header" "weather news sales" "footer footer footer";
}

.header {
    grid-area: header;
    border-top: 15px solid var(--primary-color-dark);
    background-color: var(--primary-color);
}

.header>h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 300;
    text-align: center;
    font-size: calc( 1em + 30px);
}

.weather {
    grid-area: weather;
    border-right: 3px solid var( --primary-color-light);
    border-bottom: 3px solid var(--primary-color-light);
    background-color: var(--secondary-color);
}

.weather>.temp {
    display: grid;
    grid-template-columns: 20% 27% 1% 52%;
    grid-auto-rows: 12rem;
    grid-template-areas: "temp temp . icon" "props props . icon";
    align-items: stretch;
    margin: 20px 30px;
}

.weather>.temp>h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 100;
    font-size: calc(7rem + 10px);
    letter-spacing: 3px;
    margin: 10px 0 1px 5px;
    grid-area: temp;
}

.properties {
    grid-area: props;
    text-align: left;
}

.properties>span {
    display: block;
    color: white;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: calc(1.5rem + 5px);
}

#weather-icon {
    max-width: 100%;
    height: auto;
    grid-area: icon;
}

.news {
    grid-area: news;
    border-right: 3px solid var(--primary-color-light);
    border-bottom: 3px solid var(--primary-color-light);
    background-color: var(--secondary-color);
}

.sales {
    grid-area: sales;
    border-bottom: 3px solid var(--primary-color-light);
    background-color: var(--secondary-color);
}

.footer {
    grid-area: footer;
}