<!DOCTYPE html>
<html>

<head>
    <title>Spring</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css" />

</head>

<body>

    <div class="container">

        <div class="header">
            <h1> Witaj w ten blabal poranek </h1>
        </div>

        <div class="weather">
            <div class="temp">
                <h1>27.5&degC </h1>
                <img alt="eh" src="icons/clear-day.png" id="weather-icon">
                <div class="properties">
                    <span>Wilgotnosć 50% </span>
                    <span>Wiatr 10km/h</span>
                    <span>Cisnienie 1013hPa</span>


                </div>
            </div>


        </div>
        <div class="news">xc</div>
        <div class="sales">xd</div>
        <div class="footer">xf</div>
    </div>



</body>

</html>